@import "_options";
@import "sierra-library/lib/index";

html {
	h1,
	h2 {
		font-family: $ff-highlight;
	}

	h3 {
		font-size: 1.2em;
		font-weight: bold;
	}
}

#intro {
	.logo {
		padding-bottom: 30px;
	}
}

#posts {
	padding-bottom: 100px;
	img {
		&:hover {
			opacity: 0.5;
		}
	}
}

footer {
	.contact-box {
		padding: 0px;

		.input,
		.textarea {
			border: 1px solid $c-dark;
		}
	}
}
