@import "_options";
@import "sierra-library/lib/index";

html {
	h1,
	h2 {
		font-family: Georgia, Times, "Times New Roman", serif;
	}

	h3 {
		font-size: 1.2em;
		font-weight: bold;
	}
}

nav {
	#logo {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 2.5em;
		color: $c-primary;
	}
}

#posts {
	padding-bottom: 100px;
	img {
		&:hover {
			opacity: 0.5;
		}
	}
}

#outro {
	.input,
	.textarea {
		border: 1px solid $c-dark;
	}
}
